@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 20px; /* Adicione seu padding desejado aqui */
    /* Você pode adicionar outros estilos globais aqui */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
                url('../public/Imagens/img_fundo_estoque.png');
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
  }